COMPOSE_PROJECT_NAME=ghostfolio

# EXTERNAL REDIS
REDIS_HOST=<HOST>
REDIS_PORT=<PORT>
REDIS_DB=<DB>
REDIS_PASSWORD=<PASSWORD>

# EXTERNAL POSTGRES
# Example host values:
# - postgres.example.com
# - host.docker.internal (if DB runs on the host machine)
EXTERNAL_POSTGRES_HOST=<INSERT_POSTGRES_HOST>
EXTERNAL_POSTGRES_PORT=5432
POSTGRES_DB=ghostfolio-db
POSTGRES_USER=user
POSTGRES_PASSWORD=<INSERT_POSTGRES_PASSWORD>

# VARIOUS
ACCESS_TOKEN_SALT=<INSERT_RANDOM_STRING>
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${EXTERNAL_POSTGRES_HOST}:${EXTERNAL_POSTGRES_PORT}/${POSTGRES_DB}?connect_timeout=300&sslmode=prefer
JWT_SECRET_KEY=<INSERT_RANDOM_STRING>

